---
layout: default
---

<div class="home">


  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        <br />
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

<div id="wrapper">
  <header id="header">
    <h1>This is a Responsive Blogs Using HTML5 and CSS3</h1>
    <nav class="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
    <div id="content" class="clearfix">
      <section id="left-sidebar">
        <p>Left Sidebar Content Goes Here</p>
      </section>

      <section id="right">
        <p>Right Side Content Goes Here</p>
      </section>
    </div>

    <footer>
      <p>Some copyright and legal notices gere. May be use the © symbol a bit.</p>
    </footer>
  </div>

</div>
